*{
	margin: 0;
	padding: 0;
}
.sscl-title{
	width: 100%;
	height: 100px;
	margin: auto;
}
.sscl-title p{
	width: 170px;
	height: 50px;
	margin: -47px auto auto auto;
	font-size: 37px;
	font-weight: 500;
	font-family: "bookman old style";
	line-height: 50px;
	background-color: gainsboro;
}
.sscl-list{
	width: 480px;
	height: 30px;
	margin: 20px auto;
}
.sscl-list li{
	width: 68px;
	height: 14px;
	
}

.list{
	float: right;
	width: 179px;
	height: 100px;
}
.list li{
	text-align: center;
	width: 179px;
	height: 26px;
	line-height: 25px;
	box-sizing: border-box;
	float: none;
	list-style: disc;
}
.list li:nth-of-type(1){
	list-style: none;
	font-size: 17px;
	font-weight: 600;
}
.pp{
	width: 290px;
	height: 25px;
	line-height: 25px;
}
.pp span:nth-of-type(1){
	float: left;	
	font-size: 17px;
	font-weight: 600;
}
.pp span:nth-of-type(2){
float: right;	
}
